<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adj.happypet">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateProfileActivity"></activity>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".UpdateEmail" />
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".BottomNavigationActivity" />
        <activity android:name=".Owner.BottomNavigationOwnerActivity" />
        <activity android:name=".Admin.ForgetPasswordAdmin" />
        <activity android:name=".Admin.AdminLoginActivity" />
        <activity android:name=".Admin.AdminRegisterActivity" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".LoginActivity" android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>